.grid-about {
  display: grid;
}

.img-about {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: 50% 50%;
}

.about__title {
  color: $gold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 1.5rem;
}

.about__text {
  color: $darkPurple;
  line-height: 1.7;
  font-style: italic;
}

.monogram-about {
  margin-top: 1.5rem;
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.credits {
  margin-top: 2rem;
  color: $lightPurple;
}

// From tablet size (768px)
@media (min-width: 48em) {
  .grid-about {
    grid-template-columns: 1fr 2fr;
    gap: 7.125rem;
    align-items: end;
  }
  .img-about-wrapper {
    width: 29.375rem;
  }
  .img-about {
    height: 35.625rem;
  }
  .about__title {
    padding-bottom: 1rem;
  }
  .about__text {
    font-size: 1.125rem;
    line-height: 1.9;
  }
}
