.monogram {
  margin-top: 1.5rem;
  width: 50px;
  height: 50px;
}

address {
  font-style: normal;
  color: $darkPurple;
}

.right-side {
  align-items: flex-end;
}

.desktop_footer-menu {
  text-align: right;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin: 0;
}

.footer_menu_item:hover {
  color: $lightPurple;
}

.footer {
  background-color: $darkPurple;
  color: $almostWhite;
  padding: 0.3125rem;
  text-align: center;
}

h6 {
  margin: 0;
  padding: 0.5rem 0;
  font-weight: 300;
}

.cla-link {
  color: $lightPurple;
}

svg {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
}

// Mobile only
@media (max-width: 47.9375em) {
  .social-icon {
    margin-bottom: 1rem;
  }
  .desktop_footer-menu {
    display: none;
  }
}

// From tablet size (768px)
@media (min-width: 48em) {
  .monogram {
    margin-top: 2rem;
    width: 60px;
    height: 60px;
  }
}

