.monogram {
  margin: 1.5rem 0 1rem 0;
  width: 50px;
  height: 50px;
}

address {
  font-style: normal;
  color: $darkPurple;
}

.flickr {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.footer {
  background-color: $darkPurple;
  color: $almostWhite;
  padding: 0.6rem;
  text-align: center;
}

h6 {
  margin: 0;
  padding: 0.5rem 0;
  font-weight: 300;
}

.cla-link {
  color: $lightPurple;
}

// From tablet size (768px)
@media (min-width: 48em) {
  .monogram {
    margin-top: 2rem;
    width: 60px;
    height: 60px;
  }
}
