.grid {
  display: grid;
}

figure {
  margin: 0;
}

.img-gallery {
  width: 100%;
  height: 21.875rem;
  object-fit: cover;
  object-position: 50% 30%;
}

figcaption {
  color: $darkPurple;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  padding: 0.625rem 0 2.5rem 0;
}

.img-wrapper {
  position: relative;
  // display: inline-block;
}

.img-wrapper:hover img.watermark {
  display: block;
}

img.watermark {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  opacity: 0.6;
  display: none;
}

.line {
  border-top: 2px solid $lightPurple;
}

// From tablet size (768px)
@media (min-width: 48em) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content(100%);
    gap: 5.3125rem;
  }
  .img-gallery {
    height: 25rem;
  }
}
