.header {
  padding-bottom: 1.625rem;
  &__mobile_menu-btn {
    > span {
      display: block;
      width: 25px;
      height: 2px;
      background-color: $lightPurple;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &__mobile_menu {
    width: 100%;
    margin-top: 2rem;
    background-color: $darkPurple;

    li {
      font-weight: 300;
      letter-spacing: 0.1rem;
      padding-top: 4rem;
      text-align: center;
    }

    li:last-child {
      padding-bottom: 4rem;
    }

    a {
      color: $almostWhite;
    }
    a:hover {
      color: $lightPurple;
    }
  }

  &__desktop_menu {
    li {
      letter-spacing: 0.0625rem;
      color: $darkPurple;

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
    .menu_item:hover {
      padding-top: 0.75rem;
      border-top: 2px solid $lightPurple;
    }
  }
}

// -- Media queries --

// Mobile only
@media (max-width: 47.9375em) {
  .header {
    &__logo {
      img {
        width: 9rem;
      }
    }
    &__desktop_menu {
      display: none;
    }
  }
}

// From tablet size (768px)
@media (min-width: 48em) {
  .header {
    &__mobile_menu-btn {
      display: none;
    }
    &__mobile_menu {
      display: none;
    }
  }
}
