.hero {
  background-image: url("../../img/pexels-jeanbaptiste-burbaud-1998251.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 30.625rem;
}

// From tablet size (813px)
@media (min-width: 50.8125em) {
  .hero {
    height: 80vh;
  }
}
