.quote {
  padding: 3rem;
  text-align: center;
  line-height: 1.7;
}

q {
  color: $gold;
  font-style: italic;
}

// From tablet size (768px)
@media (min-width: 48em) {
  .quote {
    padding: 7.5rem;
  }
  q {
    font-size: 1.5rem;
  }
}
